
*.ipch
Lab4_MatrixTransformations/Build/*
Lab4_MatrixTransformations/out/*
Lab5_Part1/Build/*
Lab5_Part1/out/*
Lab5_Part2/Build/*
Lab5_Part2/out/*
Assignment1_MathFoundations1/Build/*
Assignment1_MathFoundations1/src/.vs/*
lab0_setup/CMakeFiles/*
lab0_setup/.vs/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/.vs/Lab1_C_Plus_Plus_SoftwareRasterizerPart1/v16/.suo
*.db
*.ps1
*.js
*.map
*.ts
*.jst
*.json
*.ipch
*.yml
*.xml
*.def
*.lock
*.patch
*.sqlite
*.cmd
*.in
*.bak
*.jar
*.el
*.html
*.opts
*.coffee
*.coffee
*.css
*.conf
*.svg
*._js
*.ejs
*.1
*.pem
